.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.container__products {
    width: 100%;
    /* height: 1200px; */
    padding: 0px 5%;
    padding-top: 46px;
    background-color: rgb(255, 255, 255);
}

.products__Gutrend {
    /* background-color: rgb(241, 182, 109); */
    /* height: 800px; */
    display: flex;
    flex-wrap: wrap;
}

.p-products_leftCol {
    /* background-color: aqua; */
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .p-products_leftCol {
        display: none;
    }
}



/********* CSS khoảng cách danh mục ******* */
.t-productFilter_category {
    margin-top: 20px;
}

.t-productFilter_category :hover {
    cursor: pointer;
}

.t-productFilter_GT {
    padding: 0 20px;
}

.t-productFilter_category_panel {
    display: none;
}

.t-productFilter_category_left>p {
    font-size: 21px;
    color: rgb(0, 195, 255);
}

.t-productFilter_category_panel-text {
    /* margin-left: 42px; */
    margin-top: 10px;
    font-size: 18px;
}



/*/////////// Bên phải////////// */
.p-products_RightCol {
    /* background-color: rgb(177, 176, 176); */
    width: 75%;
}

@media screen and (max-width: 1200px) {
    .p-products_RightCol {
        width: 100%;
    }
}




.option_search {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:1200px) {
    .option_search {
        display: flex;
        justify-content: flex-end;
    }
}

.filter_search {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .filter_search {
        display: none;
    }
}


.filter_search>p {
    line-height: 40px;
    margin: 0;
}

.filter_search :hover {
    cursor: pointer;
}

.sort__GT {
    display: flex;
}

.sort__GT select {
    /* font-size: 0.9rem;
    padding: 2px 5px; */
    height: 40px;
}

.sort__GT select {
    border: 1px solid rgb(3, 153, 253);
    border-radius: 9px;
    color: rgb(0, 174, 255);
    background-color: aliceblue;
}

@media screen and (max-width:400px) {
    .sort__GT p {
        display: none;

    }
}

/************ CSS phần sản phẩm ***************/
.negative_GT {
    display: flex;
    flex-wrap: wrap;
}

.product_GT {
    border-radius: 9px;
    padding: 44px 12px 0 12px;
}

.m-productCard {

    display: flex;
    flex-direction: column;
    height: 100%;
}

.m-productCard_thumbnail {
    border-radius: 0.625rem;
    overflow: hidden;
    position: relative;
}

.m-productCard_thumbnail {
    background-color: rgb(235, 250, 215);

}

.a-image {
    border-radius: 20px;
}

.m-productCard_tag {
    left: 0;
    position: absolute;
    top: 0.9375rem;
    z-index: 1;
}

.m-productCard_tag_item {
    border-radius: 0 5rem 0.75rem 0;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 6px;
}

.m-productCard_tag_item p {
    font-size: 13px;
    color: #fff;
}

.a-icon_GT img {
    height: 30px;
    width: 30px;
}

.m-productCard_iconFavorite {
    cursor: pointer;
    position: absolute;
    right: 0.8125rem;
    top: 0.75rem;
}

.m-productCard_addCart {
    padding: 5px;
    border-radius: 0 0.75rem 0 0;
    background-color: rgba(6, 64, 255, 0.808);
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 100;
    position: absolute;

    /* hiện nút mua hàng */
    /* visibility: hidden; */
}


/* Phần content sản phẩm */
.m-productCard_content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}

.m-productCard_content {
    margin-top: 0.5rem;
}

.a-colorpicker_body {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(1, 225, 255);
    border-radius: 99px;
}

.a-colorpicker_body img {
    height: 25px;
    width: 25px;
    border-radius: 99px;
    margin-left: 1px;
}

.m-productCard_name a {
    text-decoration: none;
}

.m-productCard_name a p {
    margin-top: 0.3rem;
}