.contents__form-user {
  background-image: url(/image/background-form.png);
  height: 580px;
  background-color: #f0e6de;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

.container__form-user {
  margin-top: 5%;
  margin-left: 50%;
  justify-content: center;
  width: 360px;
  height: 450px;
  position: absolute;
  border-radius: 5px;
  padding: 0px 0 30px 0;
  background: linear-gradient(0deg, rgba(243, 11, 139, 0.411), rgba(189, 190, 196, 0.815));
}

@media screen and (max-width: 768px) {
  .container__form-user {
    margin-left: 12%;
    width: 300px;
  }
}

@media screen and (max-width: 360px) {
  .container__form-user {
    margin-left: 0;
    width: 280px;
  }
}

.row__form-user {
  display: flex;
  background-color: lavenderblush;
  padding: 10px;
  border-radius: 4px;

}

.row__form-user a {
  width: 50%;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
}

.row__form-user a.active,
.row__form-user a:hover {
  border-bottom: 2px solid #10a2f7;
  color: #fd2a00;
}

input[type="button"] {
  background-color: #ff7403;
  color: white;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #a54c03d8;
}

.col_1 {
  text-align: center;
  margin-top: 20px;
}

.inputPassword .inputPassword2 input {
  position: relative;
}

.inputEye {
  color: rgb(167, 167, 167);
  text-transform: uppercase;
  font-size: 0.75rem;
  position: absolute;
  top: 151px;
  right: 9%;
}

.inputEye2 {
  color: rgb(167, 167, 167);
  text-transform: uppercase;
  font-size: 0.75rem;
  position: absolute;
  top: 224px;
  right: 9%;
}

.input_form-user input {
  width: 88%;
  padding: 9px;
  border: none;
  border-radius: 20px;

  display: inline-block;
  line-height: 10px;
  text-decoration: none;
}

.input_form-user p {
  font-size: 14px;
}

.strikethrough {
  margin-top: 7px;
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  flex: 1;
}

.socialBtn {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

@media screen and (max-width:360px) {
  .socialBtn {
    margin: 0 6px;
  }
}

.socialBtn button {
  text-align: center;
  display: flex;
}

/* Thêm màu thích hợp vào các nút fb và google */
.socialBtn1 {
  display: flex;
  background-color: #0051ff;
  width: 120px;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.socialBtn1:hover {
  background-color: #1407d3;
}

.socialBtn2 {
  display: flex;
  background-color: #fa0000;
  width: 120px;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  /* cursor: pointer; */
}

.socialBtn2:hover {
  background-color: #9e0707;
}